@font-face {
  font-family: "futura";
  src: url("FuturaStd-Medium.otf");
}

* {
  font-family: "futura";
}
.navbar {
  background-color: #000000 !important;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.about {
  background-color: rgb(216, 216, 216);
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tickets {
  background-color: rgb(159, 159, 159);
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: rgb(60, 60, 60);
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-brand {
  color: #c68d3d;
}

.nav-link {
  color: #c68d3d;
  opacity: 0.7;
}

.nav-link:hover {
  color: #c68d3d;
  opacity: 1;
}

.active {
  color: #c68d3d !important;
  opacity: 1;
}
